

.trademark {
  display: flex;
  max-width: 90ch;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: .75rem ;
  font-weight: 300;
  white-space: nowrap;
}



.icon-container {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  justify-content: flex-start;
  
}