
footer {

display: flex;

}



.trademark{
display: flex;
font-size: small;
white-space: nowrap;
justify-content: center;
margin-left: 53ch;
}


.icon-container {
  display: flex;
  padding-left: 275px;
  gap: 10px;
}