@import "tailwindcss";

:root{
  --base-color: #0d0e16e2;
  --base-variant: #ffffffe2;
  --text-color: #fffbfb;
  --secondary-text: #eec76b;
  --primary-color: #ffffff;
  --accent-color: #39393b;
}

.lightmode{
  --base-color: #e3f1f5;
  --base-variant: #596578;
  --text-color: #000000;
  --secondary-text: #000000;
  --primary-color: #000000;
  --accent-color: hsl(205, 15%, 74%);
}

body{
  background-color: var(--base-color);
  color: var(--text-color)
}


body p{
  color:var(--secondary-text)

}

header
{
  background-color: var(--accent-color);
  color: var(--primary-color);
}


.aboutme {
  display: flex;
}



#theme-switch{
  height: 45px;
  width: 45px;
  padding:0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 20px;
  pointer-events: auto;
}

#theme-switch :hover{
  cursor: pointer;
  color: yellow;
}

#theme-switch svg:last-child{
  display: block;
}
.lightmode #theme-switch svg:first-child{
  display: block;
}
.lightmode #theme-switch svg:last-child{
  display: block;
}