---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import '../styles/global.css';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>

		
		</style>
	</head>
	<body>
		<Header />
		<main>
			<p class="ml-150">about me</p>
			<hr>
			<p class="py-5 ml-150">So this is the part where I tell you about who I am</p>
			<p class="py-500"> hello</p>






		</main>
		<Footer />
	</body>
</html>
